@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url('imagem/teste.png'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho correto da sua imagem */
    background-size: cover; /* para cobrir todo o espaço */
    background-position: center; /* para centralizar a imagem */
    background-attachment: fixed; /* opcional: para fixar a imagem */
    max-width: 100%;
    max-height: 100%;
}


.logo{

    
    max-width: 25%;
    margin-left: 700px;
    margin-top: -80px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}


.cabecalho {
    background-color: #070036;
    height: 120px; /* Defina a altura desejada para o cabeçalho */
    width: 100%; /* Defina a largura desejada para o cabeçalho */
    margin: 0 auto; /* Centraliza o cabeçalho horizontalmente */
}

.cabecalho__dois{

    background: rgb(255,188,0);
background: linear-gradient(90deg, rgba(255,188,0,1) 8%, rgba(255,222,0,1) 38%, rgba(255,188,0,1) 68%, rgba(255,222,0,1) 80%);
    height: 10px;
    margin-top: -60px;
    width: 100%;
    

}

.paragrafo {

    width: 50%;
    text-align: left;
    margin: 150px auto;
    font-size: 40px;
    color: white;

}

.botao{

    padding: 25px 50px;
    transform: translate(110%, 0%);
    background: rgb(255,188,0);
    background: linear-gradient(90deg, rgba(255,188,0,1) 8%, rgba(255,222,0,1) 38%, rgba(255,188,0,1) 68%, rgba(255,222,0,1) 80%);
    color: black;
    border: 0px;
    font-size: 24px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    width: 30%;
}




.footer {
    background-color: #070036;
    color: white;
    width: 100%;
    padding: 20px;
    margin: 0;
    margin-top: 100px;
    height: 520px;
    text-align: center;
    justify-content: center;
}

.logo__rodape{

    max-width: 25%;
    margin-top: -80px;
    padding-top: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rodape{


    font-size: 40px;

}


span {
    margin: 0px 30px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
    

}

.rodape__um{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 50%;
    padding-top: 40px;
    margin-left: 450px;

}

.footer__um{

    background: rgb(255,188,0);
    background: linear-gradient(90deg, rgba(255,188,0,1) 8%, rgba(255,222,0,1) 38%, rgba(255,188,0,1) 68%, rgba(255,222,0,1) 80%);
    height: 10px;
    margin-top: -20px;
    width: 100%;

}


@media screen and (min-width: 400px) and (max-width: 450px) {

    body {
        /* Ajustar o tamanho da imagem de fundo para telas menores */
        background-size: cover; /* ou outra propriedade que você achar adequada */
    }
    
    
    .logo{

        max-width: 100%;
        margin: -40px auto;


}


.cabecalho {
    background-color: #070036;
    width: 100%; /* Defina a largura desejada para o cabeçalho */
    margin: 0 auto; /* Centraliza o cabeçalho horizontalmente */
    height: 120px;
}

.cabecalho__dois{

    background: rgb(255,188,0);
    background: linear-gradient(90deg, rgba(255,188,0,1) 8%, rgba(255,222,0,1) 38%, rgba(255,188,0,1) 68%, rgba(255,222,0,1) 80%);
    height: 10px;
    margin: -40px auto;

}

.paragrafo {

    width: 90%;
    text-align: center;
    margin: 50px auto;
    font-size: 40px;
    color: white;

}

.botao{

    padding: 25px 50px;
    transform: translate(5%, 0%);
    background: rgb(255,188,0);
    background: linear-gradient(90deg, rgba(255,188,0,1) 8%, rgba(255,222,0,1) 38%, rgba(255,188,0,1) 68%, rgba(255,222,0,1) 80%);
    color: black;
    border: 0px;
    font-size: 24px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    width: 90%;
}


.footer {
    background-color: #070036;
    color: white;
    width: 100%;
    padding: 20px;
    margin: 0;
    margin-top: 100px;
    height: 800px;
    text-align: center;
    justify-content: center;
}

.footer__um{

    background: rgb(255,188,0);
    background: linear-gradient(90deg, rgba(255,188,0,1) 8%, rgba(255,222,0,1) 38%, rgba(255,188,0,1) 68%, rgba(255,222,0,1) 80%);
    height: 10px;
    margin-top: -20px;
    width: 100%;

}

.logo__rodape{

    max-width: 100%;
    margin-top:  0px;
    padding-top: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rodape {
    max-width: 100%;
    box-sizing: border-box; /* Adicionei o box-sizing para garantir que a largura seja respeitada */
}




span {
    margin: 0px 10px;
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    

}

.rodape__um {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 90%;
    padding-top: 40px;
    margin: 0 auto; /* Centralize horizontalmente */
}




     } 






     @media screen and (max-width: 399px) {

        body {
            /* Ajustar o tamanho da imagem de fundo para telas menores */
            background-size: cover; /* ou outra propriedade que você achar adequada */
        }
        
        
        .logo{
    
            max-width: 100%;
            margin: -40px auto;
 
    
    }
    
    
    .cabecalho {
        background-color: #070036;
        width: 100%; /* Defina a largura desejada para o cabeçalho */
        margin: 0 auto; /* Centraliza o cabeçalho horizontalmente */
        height: 120px;
    }
    
    .cabecalho__dois{
    
        background: rgb(255,188,0);
        background: linear-gradient(90deg, rgba(255,188,0,1) 8%, rgba(255,222,0,1) 38%, rgba(255,188,0,1) 68%, rgba(255,222,0,1) 80%);
        height: 10px;
        margin: -10px auto;
    
    }

    .paragrafo {

        width: 90%;
        text-align: center;
        margin: 50px auto;
        font-size: 40px;
        color: white;
    
    }
    
    .botao{
    
        padding: 25px 50px;
        transform: translate(5%, 0%);
        background: rgb(255,188,0);
        background: linear-gradient(90deg, rgba(255,188,0,1) 8%, rgba(255,222,0,1) 38%, rgba(255,188,0,1) 68%, rgba(255,222,0,1) 80%);
        color: black;
        border: 0px;
        font-size: 24px;
        letter-spacing: 0px;
        text-align: center;
        border-radius: 8px;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        font-style: bold;
        width: 90%;
    }


    .footer {
        background-color: #070036;
        color: white;
        width: 100%;
        padding: 20px;
        margin: 0;
        margin-top: 100px;
        height: 850px;
        text-align: center;
        justify-content: center;
    }

    .footer__um{

        background: rgb(255,188,0);
        background: linear-gradient(90deg, rgba(255,188,0,1) 8%, rgba(255,222,0,1) 38%, rgba(255,188,0,1) 68%, rgba(255,222,0,1) 80%);
        height: 10px;
        margin-top: -20px;
        width: 100%;
    
    }

    .logo__rodape{

        max-width: 100%;
        margin-top:  0px;
        padding-top: 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .rodape {
        max-width: 100%;
        box-sizing: border-box; /* Adicionei o box-sizing para garantir que a largura seja respeitada */
    }
    

    
    
    span {
        margin: 0px 10px;
        font-size: 19px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        letter-spacing: -1px;
        text-align: center;
        
    
    }
    
    .rodape__um {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        width: 90%;
        padding-top: 40px;
        margin: 0 auto; /* Centralize horizontalmente */
    }
    



         }